[workspace]
members = [
    "foundations",
    "foundations-macros",
    "examples",
    "tools/gen-syscall-enum"
]
resolver = "2"

[workspace.package]
version = "3.1.1"
repository = "https://github.com/cloudflare/foundations"
edition = "2021"
authors = ["Cloudflare"]
license = "BSD-3-Clause"

[workspace.metadata.release]
pre-release-commit-message = "Release {{version}}"
shared-version = true
tag-prefix = ""
publish = false

[profile.release]
debug = 1

[workspace.dependencies]
anyhow = "1.0.75"
foundations = { version = "3", path = "./foundations" }
foundations-macros = { version = "3", path = "./foundations-macros" }
bindgen = { version = "0.68.1", default-features = false }
cc = "1.0"
clap = "4.4"
crossbeam-channel = "0.5"
darling = "0.14"
erased-serde = "0.3.28"
futures-util = "0.3.28"
governor = "0.6"
hyper = { version = "0.14", default-features = false }
indexmap = "2.0.0"
ipnetwork = "0.20"
once_cell = "1.5"
parking_lot = "0.12"
proc-macro2 = { version = "1", default-features = false }
prometheus = "0.13.3"
prometheus-client = "0.18.1"
prometools = "0.2.1"
rand = "0.8"
rustracing = "0.6"
rustracing_jaeger = "0.9"
quote = "1"
regex = "1.8"
reqwest = { version = "0.11", default-features = false }
routerify = "3"
socket2 = "0.5.3"
syn = "1"
serde = "1"
serde_path_to_error = "0.1"
serde_yaml = "0.8"
serde_with = "3.3.0"
slog = "2.4"
slog-async = "2.3"
slog-json = "2.3"
slog-term = "2.4"
tempfile = "3.7"
tokio = "1.2"
thread_local = "1.1"
tikv-jemallocator = "0.5"
tikv-jemalloc-ctl = "0.5"
yaml-merge-keys = "0.5"
