# Make Codeowners not comment on PRs whenever a PR is created
CODEOWNERS.toplevel.create_pull_request_comment disable

@@@oxy          @cbranch @inikulin @andrew @aramine @alessandro @lucas @nkennedy @nuno @thibault-ml @fisher
@@@oer          @lvalentine @moswalt @arazmjou
@@@ztconn       @chungting @igor @jnorwood @joel @joliveirinha @nuno

*   @@oxy @@oer @@ztconn
